@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/twister-2");

@import url("https://fonts.cdnfonts.com/css/open-sauce-one");

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sauce One', sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content:stretch;
  align-items:stretch;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
}

.container{
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Twister", sans-serif;
}

@media (max-width: 1024px) {
  .hide-on-small {
    display: none;
  }
}

.tham-menu {
  display: none;
}

.tiles {
  box-shadow: 10px 10px 5px gray;
  transition-duration: 50;

}

.tiles:hover { 
  opacity: .75;
  transform: scale(1.10);
  cursor: pointer;
}

.bgimg {
  background-image: url('https://i.ibb.co/d0jmrNM/laundry-store-min.jpg');
}

